/**globales**/

$primario: #8841da;
$secundario: #3f579a;
$oscuro: #333333;
$gris:#979494;
$fuente1:'Oswald', sans-serif;
$fuente2:'Lato', sans-serif;

html{
    font-size: 62.5%;
    box-sizing: border-box; /* Hack para Box Model*/
    scroll-snap-type: y mandatory;
   }
    
*, *::before, *::after{
   box-sizing: inherit;
}
   
body{
     font-size: 16px; /* 1rem = 10px*/
    }

@mixin color-texto($color:black){
      color: $color;
      font-family: $fuente1;
    }

